<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ⚠️ REMPLACEZ PAR VOTRE VRAIE CLÉ -->
    <add key="OpenRouteApiKey" value="5b3ce3597851110001cf6248b57a555dface41ab9054282972f1ccd3"/>
	  <add key="JCDecauxApiKey" value ="4ffffd09ca3de7e586d3f46bebbd9a8a7f98191f"/>  
  </appSettings>
  
  <system.serviceModel>
    <services>
      <service name="ProxyCacheService.ProxyCacheServiceImpl">
        <endpoint address="" 
                  binding="basicHttpBinding" 
                  contract="SharedModels.IProxyCacheService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/ProxyCacheService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>