<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProxyCacheService"
						 maxReceivedMessageSize="2147483647"
						 maxBufferSize="2147483647"
						 maxBufferPoolSize="2147483647">
					<readerQuotas
						maxDepth="32"
						maxStringContentLength="2147483647"
						maxArrayLength="2147483647"
						maxBytesPerRead="2147483647"
						maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint
				address="http://localhost:8080/ProxyCacheService"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_IProxyCacheService"
				contract="ServiceReference1.IProxyCacheService"
				name="BasicHttpBinding_IProxyCacheService" />
		</client>

	</system.serviceModel>
</configuration>
